.green {
    background-color: rgb(158, 215, 158);
    /* border-width: 10px; */
}

.red {
    background-color: rgb(238, 98, 98);
    /* border-width: 10px; */
}

/* body{
    background-color: rgb(189, 250, 250);
} */